Source: ros-melodic-costmap-cspace-rviz-plugins
Section: misc
Priority: optional
Maintainer: Atsushi Watanabe <atsushi.w@ieee.org>
Build-Depends: debhelper (>= 9.0.0), libqt5core5a, libqt5gui5, libqt5widgets5, qtbase5-dev, ros-melodic-catkin, ros-melodic-costmap-cspace-msgs, ros-melodic-roscpp, ros-melodic-roslint <!nocheck>, ros-melodic-rviz
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-costmap-cspace-rviz-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5core5a, libqt5gui5, libqt5widgets5, qtbase5-dev, ros-melodic-costmap-cspace-msgs, ros-melodic-roscpp, ros-melodic-rviz
Description: Rviz plugins for costmap_cspace_msgs
